<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Light-to-Dark</title>
</head>
<body>
  
  <button (click)="toogle()" [ngClass]="mode">Change Theme</button>

  <br><br><br>
  <div class="box" [ngClass]="mode">
    <h2>Light Mode</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias error eum illo dolores. Pariatur sequi deleniti, neque perspiciatis amet cupiditate accusantium, et unde ipsum iure laboriosam! Eligendi voluptates asperiores fugiat.</p>
  </div>
  <br><br>
  <div class="box" [ngClass]="mode">
    <h2>Dark Mode</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptas quam nihil. Beatae facere, magnam rerum doloremque dolorum fuga ab quos. Aliquid provident quibusdam corrupti illum. Voluptatibus error autem excepturi?</p>
  </div>

</body>
</html>